POSTGRES_USER=postgres
POSTGRES_PASSWORD= postgres
POSTGRES_DB=pimex_dev
POSTGRES_HOST=postgres

# Mandatory to download additional products
ICECAT_USERNAME=
ICECAT_PASSWORD=

# Optional. Avoid HuggingFace warning and improve download rates
HF_TOKEN=
