POSTGRES_USER=postgres
POSTGRES_PASSWORD= postgres
POSTGRES_DB=pimex_dev
POSTGRES_HOST=db

# Solo es necesario informar la credenciales para descargar productos adicionales
ICECAT_USERNAME=
ICECAT_PASSWORD=

# Token Hugging Face. Opcional. Informar el token evita un mensaje de aviso 
# en la consola de Python y mejora la velocidad de descarga de los modelos
HF_TOKEN=
